
css/clone.css
node_modules
dist
fetch
api
config
.tmp

# Build Systems #
######################
node_modules/
build/
dist/


# Builds #
# Comment out the build folder below when uploading to heroku #
######################

dist/css/
dist/js/
